@use '../custom' as *;

.rota-csoz{
    align-items: flex-start;
    margin-bottom: 0 !important;
    position: absolute;
    top: 50%;
    transform: translate(45%,-50%) rotate(-90deg);
    flex-wrap: nowrap !important;

}

.letscs-csoz{
    background-color: #C00815;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -25px;
    h1{
        font-weight: 600;
        margin-bottom: 35px;
        
        span{
            color: #F6AE2D;
        }
    }
    p{
        width: 80%;
        margin-bottom: 35px;

    }
}
.imgla-csoz{
    background: #fff url('../../assets/img/thumbsup.png') no-repeat bottom left;
}