@use '../custom' as *;

//nav bar color change
.navcolor-csoz{
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #c7c0c0;
}

#navbar{
    transition: background-color 0.3s ease-in;
    @include media-breakpoint-down(lg){
        background-color: #fff;
    }
}

.menu{
    li{
        padding-right: 1.625rem !important;
        padding-left: 1.625rem !important;
        
        &:last-child{
            padding-right: 0 !important;
        }
    }
    a{
        padding-top: 0.125rem;
        padding-bottom: .0625rem;
        transform: color 0.5s ease-in;

        &:hover{
            color: $primary !important;
        }

    }
    .nav-link.active{
        @include media-breakpoint-down(lg){
            color: $primary !important;
        }
        position: relative;
        &:after{
            @include media-breakpoint-down(lg){
                display: none;
            }
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $primary;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
        }
    }
}
.navbar-toggler{
    padding: 0;
    border-radius: 0;
    color: $light !important;
    font-weight: 700;
    border: none;
    
}
.navbar-toggler-icon{
    width: 1.5625rem;
    height: 1.5625rem;
}
.navbar-toggler:focus{
    box-shadow: none ;
}

.navside-csoz{
    @include media-breakpoint-down(lg){
        background: transparent;
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    transition: transform 0.5s linear;
    transform: translateY(100%) translateX(100%);
    
    
    ul{
        margin-left: auto;
        max-width: 250px;
        height: 100%;
        background-color: #fdfdfd;
        box-shadow: -1px 0px 20px 0px #c7c0c0;
    
        li{
            text-align: center;
            padding: 10px 0 !important;
        }
    }
    }
    
}

.show.navside-csoz{
    @include media-breakpoint-down(lg){
        transform: translateY(100%) translateX(0%);
        user-select: initial;
        pointer-events: initial;
    }
}