@use '../custom' as *;

.worksec-csoz{
    padding-top: 200px;
    padding-bottom: 80px;

    .content{
        @include media-breakpoint-down(lg){
            width: 65% ;
        }
        @include media-breakpoint-down(md){
            width: 100%;
        }
        width: 70%;
    }

    //image styles
    .imgorwo-csoz{
        width: 100%;
        object-fit: cover;
    }
    //read more button
    .redbut-csoz{
        background-color: #C00815;
    }
}
// image container
.imcon-csoz{
    margin-top: 100px;
}

//image boxes
.abim-csoz{
    @include media-breakpoint-down(md){
        display: none;
    }
    position: absolute;
    width: 300px;
    top: 5%;
    right: 0;
    text-align: right;
}