@use '../custom' as *;

.worksec-csoz{
    @include media-breakpoint-down(md){
        padding-top: 100px;
        padding-bottom: 100px;
    }
    padding-top: 200px;
    padding-bottom: 80px;

    .content{
        @include media-breakpoint-down(lg){
            width: 65% ;
        }
        @include media-breakpoint-down(md){
            width: 100%;
        }
        width: 70%;
    }

    //image styles
    .imgorwo-csoz{
        width: 100%;
        object-fit: cover;
        transition: 0.3s ease;


        &:hover{
            box-shadow: 0px 0px 12px 5px #e2e2e2;
            transform: scale(1.01);
        }
    }
    //read more button
    .redbut-csoz{
        background-color: #C00815;
    }
}
// image container
.imcon-csoz{
    @include media-breakpoint-down(sm){
        margin-top: 50px;
    }
    margin-top: 100px;
}

//image boxes
.abim-csoz{
    @include media-breakpoint-down(md){
        display: none;
    }
    position: absolute;
    width: 300px;
    top: 5%;
    right: 0;
    text-align: right;
}