@use '../custom' as *;

.choose-csoz{
    padding-top: 100px !important;
    padding-bottom: 100px !important;

    h1{
        font-size: 36px;
        margin-bottom: 25px;
    }

    // tabs buttons
    .whybut-csoz{
        @include media-breakpoint-down(sm){
            font-size: 14px;
        }
        padding: 16px 6px;
        border-radius: 0 !important;
        background-color: $altdark;
        font-weight: 600;
        color: $dark;
    }

    //button styles
    .btn-csoz{
        &:focus{
            box-shadow: none;
        }
    }
}