@use '../../custom' as *;


.imgcontainer-csoz{
    width: 80%;
}
//third background box
.boexes3-csoz{
    top: 3%;
    left: 0;
    animation: floating 8s linear infinite;
}

//background image section bottom
.bgimg-csoz{
    @include media-breakpoint-down(md){
        display: none;
    }
    width: 180px;
    bottom: -75px;
    z-index: 1;
    
}
//background top image section bottom
.bgtpimg-csoz{
    @include media-breakpoint-down(md){
        display: none;
    }
   top: 0;
   right: 0;
   transform: translateY(-40%);
   z-index: 1;
   animation: floatingY 8s linear infinite;
}