@use '../../custom' as *;

//section grey background
.contafakebg-csoz{
    @include media-breakpoint-up(md){
        background: linear-gradient(to right, #3E3E3E 50%, transparent 0%);
    }
}
.contafakebgrg-csoz{
    @include media-breakpoint-up(md){
        background: linear-gradient(to left, #3E3E3E 50%, transparent 0%);
    }
}

.imgcontainer-csoz{
    width: 80%;
}
//third background box
.boexes3-csoz{
    top: 3%;
    left: 0;
}

//background image section bottom
.bgimg-csoz{
    @include media-breakpoint-down(md){
        display: none;
    }
    width: 180px;
}
//background top image section bottom
.bgtpimg-csoz{
    @include media-breakpoint-down(md){
        display: none;
    }
   top: 0;
   right: 0;
   transform: translateY(-40%);
}