@use '../../custom' as *;

.rehero-csoz{
    min-height: 65vh;
    background: url(../../assets/img/services_page/hero.png) no-repeat right bottom;
    @include media-breakpoint-down(md){
        width: 100% !important;
    }

    h3{
        font-size: 36px;
    }
}
.debox-csoz{
    background-color:  #E5E5E5;
    transition: 0.3s ease-in;
    &:hover{
        background-color: $primary;
        color: $light !important;
    }
}