@use '../../custom' as *;

.rehero-csoz{
    min-height: 75vh;
    background: url('../../../assets/img/services_page/hero.png') no-repeat right;
    @include media-breakpoint-down(md){
        width: 100% !important;
    }

    h3{
        font-size: 30px;
    }
}